<table class="table">
  <thead>
    <th><%= gettext("ID") %></th>
    <th><%= gettext("Filename") %></th>
    <th><%= gettext("Type") %></th>
    <th><%= gettext("Time") %></th>
    <th></th>
  </thead>
  <tbody>
		
    <%= for upload <- @uploads do %>
      <tr>
        <td><%= upload.id %></td>
        <td><%= upload.filename %></td>
        <td><%= upload.content_type %></td>
        <td><%= upload.inserted_at %></td>
        <td><%= link gettext("download"), to: Routes.upload_path(@conn, :show, upload.id) %></td>
      </tr>
    <% end %>
		
  </tbody>
</table>
