<div align="center">
<%= form_for @conn, Routes.upload_path(@conn, :create), 
                    [multipart: true], fn f-> %>

    <p><%= gettext("Uploading file for") %> <%= @focus_doc %></p>
    <%= file_input f, :upload, class: "form-control", style: "margin:50px" %>
    <input type="hidden" id="focus_doc" name="focus_doc" value=<%= @focus_doc%>>
    <%= submit gettext("Upload") , class: "btn btn-primary" %>

<% end %>
</div>